<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.printzero.osslib">

    <application>
        <activity
                android:name=".OSSLActivity"
                android:label="Open-source licences"
                android:theme="@style/AppTheme.NoActionBar"
        >
        </activity>
    </application>

</manifest>